/*
Colors:

Orange: #fb660a
Pink: #ff0086
Lime: #a6e22e
Cyan: #66d9ef
*/

@font-face {
    font-family: LoadedFont;
    src: url("../fonts/UbuntuMono-R.ttf") format("truetype");
}

body {margin: 0; padding: 0; background-color: black; color: white;}

#logWindow {font: normal 15px "LoadedFont" }
#logWindow .group .header {padding: 0 5px; }
#logWindow .group .header:hover { background-color: rgba(255, 255, 255, 0.1); }
#logWindow .group .header > .title {color: white; display: inline-block; margin-right: 0.5em;}
#logWindow .group .header > .app {color: #57bcd1; display: inline-block; margin-right: 0.5em;}
#logWindow .group .header > .time {color: #ff0086; }
#logWindow .group .header:hover > .time { color: #ff0086; }
#logWindow .box { display: inline-block; margin-right: .5em; }
#logWindow .box::before { content: "["; }
#logWindow .box::after { content: "]"; }
#logWindow .group .header > .toggle { color: #fb660a; cursor: pointer; }
#logWindow .group .header > .toggle > .count { color: #66d9ef; }
#logWindow .group .header > .toggle:hover { background-color: #fb660a; color: white; }
#logWindow .group .header > .toggle:hover > .count { color: white; }
#logWindow .group .header .exposed > span {color: lime; display: inline-block; margin: 0 5px; padding: 2px 4px; border-radius: 5px; font-size: 13px; }
#logWindow .group .content { margin: 0 0 10px .5em; border-left: .5em solid #fb660a; padding-left: .5em; }
#logWindow .group .header .sharedTags { color: #66d9ef; }
#logWindow .group .header .entries .msg { color: #57bcd1; }
#logWindow .group .header .entries .err { color: #ff0086; }
#logWindow .group .header .active { background-color: #a6e22e; color: black; }
#logWindow .group .header .active .msg { color: black; }
#logWindow .group .header .active .err { color: black; }

#logWindow .group .contentPanel > span { color: #fb660a; cursor: pointer; }
#logWindow .group .contentPanel > span:hover { background-color: #fb660a; color: white; }

#logWindow .group .entry {margin-left: 5px; white-space: nowrap;}
#logWindow .group .entry span.index { color: #999999; }
#logWindow .group .entry span.time { color: #999999; cursor: pointer;}
#logWindow .group .entry:hover span.time { color: #ff0086; }
#logWindow .group .entry span.time::before { content: " ["; color: #AAA;}
#logWindow .group .entry span.time::after { content: "] "; color: #AAA;}
#logWindow .group .entry span.app { color: #57bcd1; padding-right: 0.5em; }
#logWindow .group .entry span.message { color: #AAA; }
#logWindow .group .entry span.message .string { color: #7ca223; }
#logWindow .group .entry span.message .boolean { color: #97004c; }
#logWindow .group .entry span.message .number { color: #57bcd1; }
#logWindow .group .entry span.message .missing { text-decoration: underline; font-weight: normal; }
#logWindow .group .entry-trace span.message {color: #666666;}
#logWindow .group .entry-debug span.message {color: #666666;}
#logWindow .group .entry-info span.message {color: #7ca223;}
#logWindow .group .entry-warning span.message {color: #fb660a;}
#logWindow .group .entry-error span.message {color: crimson;}
#logWindow .group .entry-alert span.message {color: crimson;}
#logWindow .group .entry-critical span.message {color: crimson;}
#logWindow .group .entry-emergency span.message {color: crimson;}

#logWindow .group .entry .details { margin-left: 10px; border-left: 7px solid #222; padding: 0 5px 15px 5px; display: none; }
#logWindow .group .entry .var-value { color: #a6e22e; }
#logWindow .group .entry .var-value-sql {color: #887CAF; }
#logWindow .group .entry .var-value-int {color: #66d9ef; }
#logWindow .group .entry .var-value-float {color: #66d9ef; }
#logWindow .group .entry .var-name {color: #fb660a;}
#logWindow .group .entry .var-name::before { content: " ["; color: #AAA; }
#logWindow .group .entry .var-name::after { content: "] "; color: #AAA; }
#logWindow .group .entry .var-name-internal {color: #ff0086;}
#logWindow .group .entry .var-name-internal::before { content: " ["; color: #AAA; }
#logWindow .group .entry .var-name-internal::after { content: "] "; color: #AAA; }
#logWindow .group .entry .exception {margin-top: 1em;}
#logWindow .group .entry .exception .header {color: #fb660a}
#logWindow .group .entry .exception .code {color: #57bcd1; margin: 0 1em;}
#logWindow .group .entry .exception .code::before { content: "[Code:"; color: #666666;}
#logWindow .group .entry .exception .code::after { content: "]"; color: #666666;}
#logWindow .group .entry .exception .message {color: crimson;}
#logWindow .group .entry .exception .trace {margin-left: 1em; font-weight: normal;}
#logWindow .group .entry .exception .trace .line { color: #57bcd1; }
#logWindow .group .entry .exception .trace .line:before { content: " line "; color: #666666; }
#logWindow .group .entry .exception .trace .file:before { content: " file "; color: #666666; }
