/*
Colors:

Orange: #fb660a
Pink: #ff0086
Lime: #a6e22e
Cyan: #66d9ef
*/

#tagWindow {float: right; width: 200px; font: bold 15px "Ubuntu Mono", monospace;}
#tagWindow div {color: #ff0086; cursor: pointer; display: inline-block; margin: 3px;}
#tagWindow div.enabled {background-color: #fb660a; color: black;}
#tagWindow div:hover {color: white;}

#logWindow {font: normal 15px "Ubuntu Mono", monospace; margin-right: 210px;}
#logWindow .group .header {padding: 0 5px; }
#logWindow .group .header:hover { background-color: rgba(255, 255, 255, 0.1); }
#logWindow .group .header > .title {font-weight: bold; color: white;}
#logWindow .group .header > .time { font-weight: bold; color: #ff0086; }
#logWindow .group .header:hover > .time { color: #ff0086; }
#logWindow .box { display: inline-block; margin-right: .5em; }
#logWindow .box::before { content: "["; }
#logWindow .box::after { content: "]"; }
#logWindow .group .header > .toggle { color: #fb660a; cursor: pointer; }
#logWindow .group .header > .toggle > .count { color: #66d9ef; }
#logWindow .group .header > .toggle:hover { background-color: #fb660a; color: white; }
#logWindow .group .header > .toggle:hover > .count { color: white; }
#logWindow .group .header .exposed > span {color: lime; display: inline-block; margin: 0 5px; padding: 2px 4px; border-radius: 5px; font-size: 13px; font-weight: bold;}
#logWindow .group .content { margin: 0 0 10px .5em; border-left: .5em solid #fb660a; padding-left: .5em; }
#logWindow .group .header .sharedTags { color: #66d9ef; }

#logWindow .group .contentPanel > span { color: #fb660a; cursor: pointer; }
#logWindow .group .contentPanel > span:hover { background-color: #fb660a; color: white; }

#logWindow .group .entry {margin-left: 5px; white-space: nowrap;}
#logWindow .group .entry span.index { color: #999999; }
#logWindow .group .entry span.exception { color: #E00; }
#logWindow .group .entry span.exception::before { content: " [";}
#logWindow .group .entry span.exception::after { content: "] ";}
#logWindow .group .entry span.time { color: #999999; font-weight: bold; cursor: pointer;}
#logWindow .group .entry:hover span.time { color: #ff0086; }
#logWindow .group .entry span.time::before { content: " ["; color: #AAA;}
#logWindow .group .entry span.time::after { content: "] "; color: #AAA;}
#logWindow .group .entry span.message { color: #AAA; font-weight: bold; }
#logWindow .group .entry span.message .string { color: #7ca223; }
#logWindow .group .entry span.message .boolean { color: #97004c; }
#logWindow .group .entry span.message .number { color: #57bcd1; }
#logWindow .group .entry span.message .missing { text-decoration: underline; font-weight: normal; }

#logWindow .group .entry .details { margin-left: 10px; border-left: 7px solid #222; padding: 0 5px 15px 5px; }
#logWindow .group .entry .var-value { color: #a6e22e; }
#logWindow .group .entry .var-value-sql {color: #887CAF; }
#logWindow .group .entry .var-value-int {color: #66d9ef; }
#logWindow .group .entry .var-value-float {color: #66d9ef; }
#logWindow .group .entry .var-name {color: #fb660a;}
#logWindow .group .entry .var-name::before { content: " ["; color: #AAA; }
#logWindow .group .entry .var-name::after { content: "] "; color: #AAA; }
#logWindow .group .entry .var-name-internal {color: #ff0086;}
#logWindow .group .entry .var-name-internal::before { content: " ["; color: #AAA; }
#logWindow .group .entry .var-name-internal::after { content: "] "; color: #AAA; }
#logWindow .group .entry .var-value-exception { color: #E00; }
#logWindow .group .entry .var-trace-line { color: #66d9ef; font-weight: bold; }
#logWindow .group .entry .var-trace-line::after { content: "  @ file "; color: #AAA; }
#logWindow .group .entry .var-trace-file { color: white; font-weight: bold; }
