/*
Colors:

Orange: #fb660a
Pink: #ff0086
Lime: #a6e22e
Cyan: #66d9ef
*/

@font-face {
    font-family: LoadedFont;
    src: url("../fonts/UbuntuMono-R.ttf") format("truetype");
}

body {margin: 0; padding: 0; background-color: black; color: white;}

#topFrame { border-bottom: 2px solid #027b09; padding: 2px 5px; margin-bottom: 3px; background-color: #012703; overflow: hidden; height: 25px; position: fixed; top: 0; left: 0; right: 0; }
#topFrame .faBtn { cursor:pointer; display: inline-block; padding: 2px 4px; font-size: 16pt; color: white; background-color: #1d5682; vertical-align: middle; }
#topFrame .faBtn:hover { background-color: white; color: black; }
#topFrame .faBtn.active { background-color: #a6e22e; }
#topFrame .faBtn.inactive { background-color: #666666; }

#topFrame .logo { color: #027b09; font-size: 33px; line-height: 15px; vertical-align: bottom; margin-right: 15px; font-family: sans-serif; }

#logWindow {font: normal 11pt "LoadedFont"; padding-top: 33px; }
#logWindow .group {padding: 1px;}
#logWindow .group .header {padding: 0 5px; white-space: nowrap; }
#logWindow .group .header .fa {font-size: 10pt;}
#logWindow .group .header:hover { background-color: rgba(255, 255, 255, 0.2); }
#logWindow .group .header .commands i { display: inline-block; margin: 0 0 0 0.5em; cursor: pointer; color: #1d5682; }
#logWindow .group .header .commands i:hover { color: #fb660a; }
#logWindow .group .header > .title {color: #04a50d; display: inline-block; margin: 0 0.5em;}
#logWindow .group .header > .app {color: #1d8255; display: inline-block; margin-right: 0.5em;}
#logWindow .group .header > .app:before {content: '@'; color: #169a5f;}
#logWindow .group .header > .time {color: #666666; cursor: pointer; }
#logWindow .group .header:hover > .time { color: #66d9ef; }
#logWindow .box { display: inline-block; margin-right: .5em; }
#logWindow .group .header > .toggle { color: #fb660a; cursor: pointer; }
#logWindow .group .header > .toggle > .count { color: #66d9ef; }
#logWindow .group .header > .toggle:hover { background-color: #fb660a; color: white; }
#logWindow .group .header .exposed > span {color: lime; display: inline-block; margin: 0 5px; padding: 2px 4px; border-radius: 5px; font-size: 13px; }
#logWindow .group .content { margin: 0 0 10px .5em; border-left: .5em solid #fb660a; padding-left: .5em; }
#logWindow .group .header .sharedTags { color: #66d9ef; }
#logWindow .group .header .entries { color: #666666; margin-left: 0.5em; }
#logWindow .group .header .entries.hasErrors { color: crimson; }
#logWindow .group .header .commands .active { color: white; }
#logWindow .group .header .tail { color: #455d45; }

#logWindow .group .entry {margin-left: 1.5em; padding-left: 5px; white-space: nowrap;}
#logWindow .group .entry span.index { color: #999999; }
#logWindow .group .entry span.time { color: #666666; cursor: pointer; margin-right: 0.5em; }
#logWindow .group .entry:hover span.time { color: #66d9ef; }
#logWindow .group .entry span.app { color: #455d45; display: inline-block; margin-left: 0.5em; }
#logWindow .group .entry span.app:before { content: '@'; color: #3b4e3b; }
#logWindow .group .entry span.message { color: #AAA; }
#logWindow .group .entry span.message .string { color: #7ca223; }
#logWindow .group .entry span.message .boolean { color: #97004c; }
#logWindow .group .entry span.message .number { color: #57bcd1; }
#logWindow .group .entry span.message .missing { text-decoration: underline; font-weight: normal; }
#logWindow .group .entry-trace span.message {color: #666666;}
#logWindow .group .entry-debug span.message {color: #666666;}
#logWindow .group .entry-info span.message {color: #7ca223;}
#logWindow .group .entry-warning span.message {color: #fb660a;}
#logWindow .group .entry-error span.message {color: crimson;}
#logWindow .group .entry-alert span.message {color: crimson;}
#logWindow .group .entry-critical span.message {color: crimson;}
#logWindow .group .entry-emergency span.message {color: crimson;}

#logWindow .group .entry .details { margin-left: 3em; padding: 0 5px 15px 0; display: none; }
#logWindow .group .entry .details > div.table > div {display: table-row;}
#logWindow .group .entry .details > div.table > div > span {display: table-cell;}
#logWindow .group .entry .var-value { color: #027b09; }
#logWindow .group .entry .var-value-sql {color: #887CAF; }
#logWindow .group .entry .var-value-int {color: #66d9ef; }
#logWindow .group .entry .var-value-float {color: #66d9ef; }
#logWindow .group .entry .var-name {color: #1d5682; padding-right: 1em;}
#logWindow .group .entry .var-name-internal {color: #ff0086;}
#logWindow .group .entry .exception {margin-top: 1em;}
#logWindow .group .entry .exception .header {color: #fb660a}
#logWindow .group .entry .exception .code {color: #57bcd1; margin: 0 1em;}
#logWindow .group .entry .exception .message {color: crimson;}
#logWindow .group .entry .exception .trace {margin-left: 1em; font-weight: normal;}
#logWindow .group .entry .exception .trace .line { color: #57bcd1; }
#logWindow .group .entry .exception .trace .line:before { content: " line "; color: #666666; }
#logWindow .group .entry .exception .trace .file:before { content: " file "; color: #666666; }

#filtersWindow { min-height: 31px; position: fixed; top: 31px; left: 0; right: 0; background-color: #000; padding-top: 3px; }
#filtersWindow > div { border: 2px solid #999999; color: #999999; margin: 2px; padding: 2px 0.5em; cursor: pointer; display: inline-block; }
#filtersWindow > div:hover, #filtersWindow > div.active:hover { border-color: white; }
#filtersWindow > div:hover i { color: white; }
#filtersWindow > div i { font-size: 14pt; }
#filtersWindow > div span { font: normal 12pt "LoadedFont" }
#filtersWindow > div span.counter { font-size: 9pt; }
#filtersWindow > div.active { border-color: #027b09; background-color: #012703; color: #a6e22e; }

.hidden { display: none; }